<div class="dog-list-toolbar">
    <mat-form-field class="dog-breed-filter">
        <mat-label>Breeds</mat-label>
        <mat-select
            [formControl]="dogBreedsFilter"
            multiple
            (selectionChange)="onSelectedDogs($event)"
        >
            <mat-option
                *ngFor="let dogBreeds of allDogBreeds"
                [value]="dogBreeds"
                >{{ dogBreeds }}</mat-option
            >
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="sort-by-filter">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
            <mat-option *ngFor="let opt of sortOptions" [value]="opt">{{
                opt.optionDisplay
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-stroked-button type="button" (click)="loadingNewBff()">
        I'm Feeling Lucky
    </button>
</div>
<div class="dog-list-container" >
    <ng-container *ngIf="dogs$ | async as dogs">
        <dog-card *ngFor="let dog of dogs"
            [dogDetails]="dog"
            (favoritedDog)="handleFavoriteDogs($event)"
        ></dog-card>
    </ng-container>
</div>
<mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [pageIndex]="pageIndex"
    aria-label="Select page"
>
</mat-paginator>
