.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.login-form {
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-flow: column;
    background-color: #FFFF;
    text-align: center;
}