<div class="login-form-container">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLoginBtn()">
      <img class="login-form__fetch-logo" src="/assets/fetch-logo.png" alt="fetch-logo" width="300" height="300" />
  
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" maxlength="256" placeholder="Name" />
        <mat-error *ngIf="loginForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" maxlength="256" placeholder="Email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>
  
      <button mat-stroked-button type="submit">
        Login
      </button>
    </form>
  </div>