.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.login-form {
    padding: 100px;
    border-radius: 8px;
    box-shadow: 8px 7px 22px -5px rgba(0, 0, 0, 0.65);
    width: 500px;
    display: flex;
    flex-flow: column;
    background-color: #ffff;
    text-align: center;

    &__fetch-logo {
        align-self: center;
        margin-top: -80px;
    }
}
