.dog-card-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 8px 7px 22px -5px rgba(0, 0, 0, 0.65);
    margin: 20px;
    background-color: #ffff;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
