<h2 mat-dialog-title>Your New Best Friend</h2>

<div *ngIf="dogDetails; else noFaveDogs">
    <mat-dialog-content>
        <img src="{{ dogDetails.img }}" alt="dog" width="300" height="300" />
        <div>
            Our systems has found you a new furry friend: {{ dogDetails.name }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close type="button" cdkFocusInitial>
            Adopt Now
        </button>
    </mat-dialog-actions>
</div>

<ng-template #noFaveDogs>
    <mat-dialog-content>
        <div>
            No dogs found. Please give our furry friends a LIKE so we can find
            the best friend for you.
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close type="button" cdkFocusInitial>
            OK
        </button>
    </mat-dialog-actions>
</ng-template>
